body {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

main {
  width: 1487px;
  height: 5870px;
  display: flex;
  flex-direction: column;
}

.first {
  width: 1487px;
  height: 719px;
  display: flex;
  flex-flow: row wrap;
}
header {
  font-family: "Mulish", sans-serif;
  width: 1490px;
  margin: 80px 0 0 299px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  font-size: 17px;
  font-weight: bold;
  color: white;
  height: 41px;
  width: 41px;
  border-radius: 21px;
  background-color: #458ff6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trafalgar {
  font-size: 24px;
  font-weight: bold;
  color: #233348;
  height: 29, 27px;
  width: 107px;
  text-decoration: none;
}

.navigation {
  width: 545px;
  height: 23px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #7d7987;
  display: flex;
  justify-content: space-between;
}

.home {
  color: #1f1534;
  font-weight: bold;
}

.first-block {
  width: 1487px;
  margin: 50px 0 0 59px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 8px;
  background: linear-gradient(30deg, #97c3f9, #93c1f9);
  border-radius: 5px;
}

.dots-box {
  max-width: 132px;
  max-height: 115px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.block {
  width: 1487px;
  height: 598px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.text-block {
  width: 445px;
  height: 338px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.first-img {
  width: 693px;
  height: 598px;
}

.mt {
  color: #000000;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}

.traf {
  color: #7d7987;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  width: 440px;
  height: 96px;
}

.consult-today {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  height: 56px;
  width: 200px;
  border-radius: 40px;
  border-color: #ffffff;
  background-color: #458ff6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.second {
  width: 1487px;
  height: 1133px;
  margin: 50px 0 0 145px;
  display: flex;
  justify-content: center;
}

.our-services {
  width: 1487px;
  margin-left: 59px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.service-block {
  width: 952px;
  height: 177px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  height: 10px;
}

.line {
  width: 56px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  margin: -10px 0 0 0;
}

li {
  list-style-type: none;
  color: #7d7987;
  font-size: 18px;
  text-align: center;
}

.six-boxes {
  width: 1120px;
  height: 745px;
  background: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

span {
  width: 350px;
  height: 354px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

span img {
  width: fit-content;
}

h3 {
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

p {
  color: #7d7987;
  font-family: "Mulish", sans-serif;
  width: 267px;
  font-size: 16px;
  font-weight: light;
  line-height: 28px;
}

.learn-more {
  font-size: 18px;
  font-weight: bold;
  color: #458ff6;
  height: 56px;
  width: 200px;
  border-radius: 40px;
  border-color: #458ff6;
  background-color: white;
  text-align: center;
  outline: none;
}

.third {
  width: 1273px;
  height: 477px;
  margin: 220px 0 0 215px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leading-helthcare {
  width: 486px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leading-helthcare h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
  width: 420px;
  height: 112px;
}

.leading-helthcare p {
  width: 360px;
  height: 120px;
}

.fourth {
  width: 1366px;
  height: 675px;
  margin: -5px -46px 0 280px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.fourth .dots-box {
  display: flex;
  align-self: flex-start;
}

.download-apps {
  width: 420px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.download-apps h2 {
  width: 254px;
  height: 96px;
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
}

.download-apps p {
  width: 340px;
  height: 120px;
}
